@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&family=Inter:wght@100;200;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Myriad'; /* Имя, которое будет использоваться для этого шрифта */
    src: url('../fonts/Myriad Pro Regular.ttf') format('truetype'), /* Формат TTF */
         url('../fonts/Myriad Pro Black.otf') format('opentype'), /* Формат OTF */
         url('../fonts/Myriad Pro Bold.ttf') format('truetype'), /* Формат TTF */
         url('../fonts/Myriad Pro Light.otf') format('opentype'); /* Формат OTF */
    /* Дополнительные свойства шрифта, например, font-weight и font-style */
}


:root{
    --main-dark: #313131;
    --main-light: #d3d3d3;
    --accent-color:#456faf;
    --second-text: #5a5a5a;
    --error: #a01f1f;
}



html, body {
    color: var(--second-text);
    background: #fff;
}



a{
    text-decoration: none;
}












/* HEADER */

/* top logo */
.header__top-logo{
    justify-items: center;
    align-items: center;
}


.icon__link{
    color: var(--main-dark);
    display: flex;
    gap:10px;
    align-items: center;
}

.icon__link:hover,
.icon__link:active
{
    color: var(--accent-color);
    transition: 0.2s;
}

.social__icon{
    font-size: 21px;
}

.social__icon-text{
    font-size: 16px;    
    font-family: cinzel;
    font-weight: 500;
}

.header__logo{
    color: var(--main-dark);
    font-family: cinzel;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo__img{
    height: 40px;
}



.top_social-block{
    display: flex;
    justify-content: end;
    gap: 15px;
}

/* /top logo  */


/* top slider  */
.carousel__top{
    width: 100%;
}

.slider__top{
    display: flex;
    align-items: center;
    overflow: hidden;
    max-height: 580px;
}

.slider__img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.slider__image{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
}

.slider__text{
    width: 100%;
    position: absolute;
    top:25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 20px;
    font-family: Iter;
}

.slider__text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5px 30px;
    background-color: rgba(211, 211, 211, 0.7);
    border: 2px solid var(--main-dark);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.slider__title {   
    text-align: center;
    color: var(--main-dark);
}

.slider__desc{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 14pt;
}

/* /top slider  */

/* navigation */
.nav__body{
    background-color: #fff !important;
}


.nav__label-hidden{
    display: none;
}

.nav-link,.nav__label-hidden,navbar-toggler{
    text-transform: uppercase;
    color: var(--accent-color);
    font-family: Myriad;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 18px;
    padding: 10px 20px !important;
}

.nav-link.active{
    color: var(--accent-color)!important;
}

.nav-link:hover, 
.nav-link:active,
.nav-link.active:hover,
.nav-link.active:active{
    background-color: var(--accent-color);
    color: #fff !important;
    transition: 0.3s;
}


.navbar-toggler-icon{
    color: var(--accent-color) !important;
    position: relative;
}


.select__lang{
    min-width: 8rem !important;
}
.lang__name{
    text-transform: uppercase;
}

.lang_dropdown[data-bs-popper] {
    position: absolute;
    min-width: 8rem !important;
    left:0;
    border-radius: 0;
    border:1px solid var(--accent-color);
}

li .lang__option:hover,
li .lang__option:active{
    background-color: var(--accent-color);
    transition: 0.3s;
    color: #fff;
}


.select__lang-button{
    background-color: inherit !important;
    color: var(--second-text) !important;
    border: none;
    border-radius: 0;
}

.select__lang-button:hover,
.select__lang-button:active{
    color: var(--accent-color) !important;

}


.select__lang-button:hover{
    color: var(--second-text);
}

.select__lang-button::after{
    content: none !important    ;
}

.lang__option{
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items:center;
    gap: 15px;
    height: 30px;
    padding: 0 10px;

}

.lang__icon{
   max-height: 25px;
   height: 25px;
}

.lang__icon img{
    height: 100%;
}

.headernav-scroll{
    border-bottom: 1px solid var(--main-dark) ;
    transition: 0.5s;
}

.headernav-scroll .nav-link{
    padding: 5px 17px !important;
}



.select__lang-button{
    --bs-btn-padding-x: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar{
    --bs-navbar-padding-y: 0;
}

@media(max-width:1060px){
    .slider__text{
        top: 10%;
    }
}


@media(max-width:820px){
    .slider__title{
        font-size: 21pt;
    }
    .slider__text{
        top:5%;
    }
}
@media (max-width:767px){
    
    .slider__text-wrapper{
        max-width: 70%;
    }
    .select__lang,
    .lang_dropdown[data-bs-popper]{
        min-width: 5rem !important;
    }
    
    .header__logo{
        margin-top: 15px;
    }

    .social__icon{
        font-size: 19px;
    }
    
    .social__icon-text{
        font-size: 14px;
    }

    .nav__label-hidden{
        display:inline;

    }

    .nav-link{
        text-align: center;
    }

    .lang_dropdown[data-bs-popper] {
        left: 0;
    }

    .headernav-scroll .nav-link{
        padding: 10px 20px !important;
    }

    .headernav-scroll{
        background-color: #fff !important;
    }

}

@media (max-width:622px){
    .slider__text{
        top:5%;
    }

    .slider__title{
        font-size: 18pt;
        margin-bottom: 7px;
    }

    .slider__text-wrapper{
        max-width: 90%;
        border: 1px solid var(--main-dark);
    }
    .slider__desc{
        font-size: 11pt;
        line-height: 11pt;
    }
    .slider__text-wrapper{
        padding: 5px 10px;
    }
}

@media(max-width:450px){
    .slider__title{
        font-size: 16pt;
        margin-bottom: 0;
    }

    .slider__desc{
        font-size: 10pt;
    }

    .slider__text-wrapper{
        max-width: 100%;
    }
}
@media (max-width:370px){
    .logo__img{
        height: 32px;
    }

    .header__logo{
        font-size: 32px;
        gap:15px;
        margin-top: 10px;
    }

    .social__icon{
        font-size: 17px;
    }
    
    .social__icon-text{
        font-size: 14px;
    }
}


/* /navigation  */
/* / HEAEDER */

.section__title{
    font-size: 35px !important;
    text-transform: uppercase;
    text-align: center;
    font-family: Cinzel, Iter;
    margin-top: 30px;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

@media(max-width:767px){
    .section__title{
        font-size: 25pt !important;
    }
}

@media(max-width:530px){
    .section__title{
        font-size: 20pt !important;
    }
}

@media(max-width:420px){
    .section__title{
        font-size: 18pt !important;
    }
}

@media(max-width:360px){
    .section__title{
        font-size: 15pt !important;
        letter-spacing: 1px;
    }
}


 /* SECTION ADVANTAGES  */
 .advantages{
    background-color: var(--main-dark);
    color: var(--main-light);
}

.row__advantages{
    justify-content: center;
    align-items: center;
}

.advantages__item{
    display: flex;
    flex-direction: column;
}
.advantages__img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.advantages__title{
    font-family: Cinzel, Iter;
    font-size: 17pt;
    text-align: center;
    height: 130px;
}

/* .ua_font{
    font-size: 15pt !important;
    font-weight: 200;
} */

/* .advantages__title.ua_font{
    height: 90px;
} */




@media(max-width:1070px) {
    .advantages__title{
        font-size: 16pt;
    }

}

@media(max-width:991px) {
    .advantages__title{
        height: 100px;
    }

}

@media(max-width:690px) {
    .advantages__title{
        font-size: 14pt ;
    }

}
@media(max-width:575px) {
    .advantages__img{
        height: 140px;
        max-height: 140px;
    }
    .advantages__img img{
        height: 100%;
    }

    .advantages__title{
        font-size: 13pt;
        width: 80%;
        height: 80px;
        margin: 0 auto;
    }
}

 /* /SECTION ADVANTAGES  */

/* SECTION SERVICES  */
.services{
    overflow: hidden;
    
}

.title__services{
    margin-bottom: 10px;
    margin-top: 50px;
}
.carousel-inner {
    transition-timing-function: linear !important;
}

.carousel__control-labels{
    margin-top: 0;
    margin-bottom: 30px;
    font-family:Myriad;
    color: var(--accent-color);
    font-size: 14pt;
    letter-spacing: 3px;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    padding-bottom: 10px;
}

.service__label{
    padding: 5px 10px;
    border: 1px solid #fff;
    cursor: pointer;
}

.service__label:hover,
.service__label:active{
    border-color: var(--accent-color);
    transition: 0.3s;
}

.mobile__control-labels{
    display: none;
}


.services__nav{
    z-index: -1000;
    position: absolute;
    top: 170px;
}
.product__card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 8fr 3fr;
    height: 530px ;
}

.product__descriprion{
    display: flex;
    flex-direction: column;
    height: 360px;
}

.product__title{
    font-family: Cinzel, Iter;
    font-size: 20pt;
    text-decoration: underline;
    font-weight: 600;
    text-align: center;
    color: var(--main-dark);
    grid-column: span 2;
    margin-right: 60% ;
}
/* .ua_product_font{
    font-weight: 400;
} */

.product__options{
    margin-top: 20px;
    margin-left: 30px;
    list-style-type: circle;
}

.product__options li {
    font-family: Frank Ruhl Libre;
    font-size: 16pt;
}

.product__more{
    padding: 10px;
    font-size: 12pt;
}

.product__img{
    height:360px;

}

.product__img img{
    height:100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.order__product{
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cinzel, Iter;
    font-size: 16pt;
    margin-top: 30px;
}


.product__price{
    font-weight: 700;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    padding: 3px 60px;
}

.product__button{
    color: #fff;
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
    padding: 3px 60px;
    font-weight: 600;
    border-radius: 0;
    text-transform: uppercase;
    font-family: Cinzel, Iter ;
}

.product__button:hover{
    background: #fff;
    color: var(--accent-color);
    
}
/* .ua_order_product{
    font-weight: 300 !important;
} */



@media(max-width:1000px){
    .carousel__control-labels{
        font-size: 14px;
        flex-wrap: wrap;
        gap:6px;
    }

    .product__options {
        margin-top: 10px;
    }

    .product__options li{
        font-size: 15pt;
    }

    .order__product {
        font-size: 14pt;
    }
}

@media(max-width:800px){
    .product__button,
    .product__price{
        padding: 3px 45px;
    }

    .carousel__control-labels{
        gap:0;
    }

    
    .product__more {
        font-size: 11pt;
    }

    .product__options li {
        font-size: 14pt;
    }

    .product__title {
        margin-right: 40%;
    }
}

@media(max-width:767px){
    .product__descriprion{
        height: 360px;
    }

    .product__card{
        height: 500px;
    }
}


@media(max-width:700px){

    .mobile__control-labels{
        display: flex;
        margin-top: 25px;
    }
    .product__card{
        display: flex;
        flex-direction: column;
        max-height: 900px;
        height: auto;
        min-height: 460px;
    }

    .product__title{
        margin-top: 15px;
        font-size: 20pt;
    }

    .product__img{
        order:2;
        min-height: 320px;
        height: auto;
    }    

    .product__descriprion{
        min-height: 320px;
        height: auto;
        order:3;
    }

    .order__product{
        order:4;
    }
}




@media(max-width:530px){
    .product__img{
        min-height: 220px;
        height: auto;
    }    

    .product__title {
        margin-top: 10px;
        font-size: 18pt;
    }
}

@media(max-width:462px){
    .carousel__control-labels{
        font-size: 15px;
        gap:6px;
        letter-spacing: normal;
    }

    .product__descriprion{
        min-height: 300px;
        height: auto;

    }

    .service__label{
        padding: 5px;
    }

    .product__options {
        margin-left: 12px;
    }

    .product__more{
        padding: 0 10px;
    }

    .product__title {
        margin-left: 5px;
        margin-right: auto;
        font-size: 15pt;
    }

    .product__price,
    .product__button{
        padding: 3px 20px;
    }

}


/* /SECTION SERVICES  */
/* SECTION LOCATION */
.location{
    background-color: var(--main-dark) !important;
    color: var(--main-light) !important;
}

.title__location,
.title__contacts{
    color: var(--main-light);
}

.address__div{
    padding: 15px 20px 25px;
    text-align: right;
    font-family: Myriad;
    font-size: 14pt;
    letter-spacing: 2px;
}

.br__line{
    margin:0 auto;
    background-color: var(--main-light);
    width: 95%;
    height: 1px;

}


@media(max-width:700px){
    .address__div{
        font-size: 13pt;
    }
}


@media(max-width:520px){
    .address__div{
        font-size: 11pt;
    }
}


@media(max-width:440px){
    .address__div{
        font-size: 10pt;
        letter-spacing: normal;
    }
}
/* /SECTION LOCATION */
/* SECTION CONTACTS */
.contacts{
    background-color: var(--main-dark) !important;
    color: var(--main-light) !important;
}


/* /SECTION CONTACTS */


/* OUR CONTACTS  */
.contacts__row{
    justify-content: center !important;
    align-items: center !important;
    padding-bottom: 30px;
}
.contact__item{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-family: Frank Ruhl Libre;
}

.social__link-contacts{
    width: 100%;
    padding-left: 20%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap:15px;
    font-size: 16pt;
    color: var(--main-light)
}
.social__link-contacts i{
    width: 25px;
}

.social__link-contacts:hover,
.social__link-contacts:active{
    color: var(--accent-color);
    transition: 0.3s;
}

.social__link-text{
    font-size: 13pt;
}

.contacts__workhours{
    gap:0;
}

.workhours__title{
    text-align: center;
    font-size: 13pt;
}

.working__hours-line{
    width: 160px;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 767px){
    .social__link-contacts{
        padding-left: 10px;
    }
}

@media(max-width: 577px){

    .contacts__social{
        margin-bottom: 40px;
        gap: 10px;
    }
    
    .contacts__social,
    .contacts__workhours{
        width: 220px;
        justify-content: center;
    }

    .social__link-contacts{
        font-size: 12pt;
    }
}
/* /OUR CONTACTS  */
/* ABOUT  */
.row__about{
    margin-top: 30px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    
}
.about__img{
    height: 250px;
    
}
.about__avatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.about__text{
    font-family: Frank Ruhl Libre;
    height: 100%;
}

@media(max-width:940px){
    .row__about{
        margin-top: 20px;
    }


}

@media(max-width:700px){
    .about__img,
    .about__text{
        width: 100%;
    }
    .about__img{
        margin-bottom: 20px;
    }
}
/* /ABOUT  */



/* FOOTER  */
.row__footer{
    padding: 15px 20px;
    justify-content: space-between;
    align-items: baseline;
}
footer{
    background: #1f1F1f;
    color: var(--main-light);
}

.footer__logo{
    font-family: cinzel;
    font-size: 30pt;
    font-weight: 600;
}


.footer__ul-nav{
    display: flex;
    justify-content: flex-end;
    padding: 0;
    list-style: none;
    gap: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 9pt;
}

.footer__nav-link{
    color: var(--main-light);

}

.footer__nav-link:hover,
.footer__nav-link:active{
    transition: 0.3s;
    color: var(--accent-color);
}




.all_rights{
    font-family:Iter;
    text-align: center;
    font-size: 10pt;
    padding-bottom: 10px;
}

@media(max-width:767px){
    .row__footer{
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .footer__ul-nav {
        justify-content: center;
    }
    .footer__logo{
        font-size: 25pt;
    }
    .row__footer{
        gap:7px;
    }
}
@media(max-width:462px){
        .footer__ul-nav{
            font-size: 7pt;
            letter-spacing: normal;
        }

        
    }

/* /FOOTER  */

/* vanila calendar */

.vanilla-calendar-day__btn_selected{
    background-color: var(--accent-color) !important;
    border-color: var(--accent-color);
}

.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.modal__form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:15px;

}

.modal__button{
    justify-self: flex-end;
    /* margin-top: 270px; */
    margin-bottom: 20px;
}

.phone__input,
.phone__input:active,
.phone__input:focus {

}
.select__date-modal{

}


.vanilla-calendar-input-wrapper{
    z-index: 9999;
    justify-self: center;
    align-self: center;
}

.modal-content {
    height: 550px;
    border-radius: 0 !important;
    font-family: Iter;
}

.select__date-modal{
    margin-top: 10px;
}


.modal__button{
    font-family: Cinzel, Iter;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 7px 15px;
    transition: 0.3s;
}

.modal-content .form-control{
    border-radius: 0;
}

.air-datepicker-global-container {
    z-index: 9999;
}
.air-datepicker{
    
    margin: 0 auto;
    border-radius: 0 !important;
    width: 330px !important;
}

.phone__input{
    width: 275px;
}

#calendar{
    width: 275px !important;
}

.air-datepicker-cell.-selected-{
    background-color: var(--accent-color) !important;
}

.air-datepicker-cell{
    font-family:Myriad;
    font-size: 13pt;
}

.air-datepicker-body--day-names{

}
.air-datepicker-body--day-name{
    color: var(--accent-color) !important;
    font-weight: 500;
    padding: 8px 0 3px;
    margin: 0;
    font-family:Iter;
}
.air-datepicker-cell {
    padding: 12px;
}

@media(min-width:580px){
    .modal-content {
        height: 600;
    }


}

.air-datepicker-body--day-name.-weekend- {
    /* Ваши стили здесь */
    color: var(--error) !important; /* Пример: изменить цвет текста на красный */
    /* Другие стили, которые вы хотите применить */
}

/* /vanila calendar


/* ORDER SECTION */
.booking{
    height: 600px;
    width: 100%;
    background: #fff;
    color: var(--main-dark);
}

.booking__title-container{
    border-top: 3px solid var(--accent-color);

}

.booking__form{
    
    height: 100%;
    margin:20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.booking__input{
    width: 400px !important;
    font-size: 13pt !important;
    font-family: Iter;
}

.label__wrong{
    width: 400px;
    text-align: center;
    font-size: 10pt;
    color: #a01f1f;
}

@media(max-width:480px){
    .booking__input{
        width: 280px !important;
        
    }
    
    .label__wrong{
        width: 280px;
    }

    .title__booking{
        font-size: 14pt !important;
    }

}


/* /ORDER SECTION */
/* FLASH */
.flash__success{
    color: #1e9833;
}
.flash__error{
    color: var(--error);
}

.flash__button,
.flash__button:hover,
.flash__button:active{
    margin-bottom: 0;
    border:1px solid var(--accent-color);
}

.flash__content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    font-size: 14pt;
    text-align: center;
    padding: 0 10%;
    
}

.flash__img{
    font-size: 100pt;
}
/* /FLASH */

