@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&family=Inter:wght@100;200;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'Myriad'; /* Имя, которое будет использоваться для этого шрифта */
    src: url('../fonts/Myriad Pro Regular.ttf') format('truetype'), /* Формат TTF */
         url('../fonts/Myriad Pro Black.otf') format('opentype'), /* Формат OTF */
         url('../fonts/Myriad Pro Bold.ttf') format('truetype'), /* Формат TTF */
         url('../fonts/Myriad Pro Light.otf') format('opentype'); /* Формат OTF */
    /* Дополнительные свойства шрифта, например, font-weight и font-style */
}


:root{
    --main-dark: #313131;
    --main-light: #d3d3d3;
    --accent-color:#456faf;
    --second-text: #5a5a5a;
}



html, body {
    color: var(--second-text);
}



a{
    text-decoration: none;
}










.header__top-logo{
    justify-items: center;
    align-items: center;
}


.icon__link{
    color: var(--main-dark);
    display: flex;
    gap:10px;
    align-items: center;
}

.icon__link:hover,
.icon__link:active
{
    color: var(--accent-color);
    transition: 0.2s;
}

.social__icon{
    font-size: 21px;
}

.social__icon-text{
    font-size: 16px;    
    font-family: cinzel;
    font-weight: 500;
}

.header__logo{
    color: var(--main-dark);
    font-family: cinzel;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo__img{
    height: 40px;
}






.top_social-block{
    display: flex;
    justify-content: end;
    gap: 15px;
}

.carousel__top{
    width: 100%;
}

.slider__top{
    display: flex;
    align-items: center;
    overflow: hidden;
    max-height: 500px;
}

.slider__img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}




.nav__body{
    background-color: #fff !important;
}


.nav__label-hidden{
    display: none;
}

.nav-link,.nav__label-hidden,navbar-toggler{
    text-transform: uppercase;
    color: var(--accent-color);
    font-family: Myriad;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 18px;
    padding: 10px 20px !important;
}

.nav-link.active{
    color: var(--accent-color)!important;
}

.nav-link:hover, 
.nav-link:active,
.nav-link.active:hover,
.nav-link.active:active{
    background-color: var(--accent-color);
    color: #fff !important;
    transition: 0.3s;
}


.navbar-toggler-icon{
    color: var(--accent-color) !important;
    position: relative;
}


.select__lang{
    min-width: 8rem !important;
}


.lang_dropdown[data-bs-popper] {
    position: absolute;
    min-width: 8rem !important;
    left:0;
    border-radius: 0;
    border:1px solid var(--accent-color);
}

.lang__option:hover,
.lang__option:active{
    background-color: var(--accent-color);
    transition: 0.3s;
    color: #fff;
}



.select__lang-button{
    background-color: #fff !important;
    color: var(--second-text) !important;
    border: none;
}

.select__lang-button:hover{
    color: var(--second-text);
}












@media (max-width:767px){
    .header__logo{
        margin-top: 15px;
    }

    .social__icon{
        font-size: 19px;
    }
    
    .social__icon-text{
        font-size: 14px;
    }

    .nav__label-hidden{
        display:inline;

    }

    .nav-link{
        text-align: center;
    }

    .lang_dropdown[data-bs-popper] {
        left: 0;
    }
}

@media (max-width:370px){
    .logo__img{
        height: 32px;
    }

    .header__logo{
        font-size: 32px;
        gap:15px;
        margin-top: 10px;
    }

    .social__icon{
        font-size: 17px;
    }
    
    .social__icon-text{
        font-size: 14px;
    }
}
