<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Carnerd - Spălătorie auto în București</title>
</head>
<body>

    
    <header>
        {% block header %}             
            {% block top_header %}
                
                <div class="container-fluid">
                    <div class="row header__top-logo">
                        <div class="col-md-3 col-6 order-md-1">
                            <a class="icon__link" href="tel:+40 792 884 381">
                                <div class="social__icon"><i class="fa-solid fa-phone"></i></div> 
                                <div class="social__icon-text">079 288 43 81</div>
                            </a>
                        </div>
                        <div class="col-md-6 col-12 order-3 order-md-2">
                            <div class="header__logo">
                                <img class="logo__img" src="{{url_for('static', filename='img/logo_auto2.svg')}}" alt="">
                                <div class="logo__text">CARNERD</div>
                            </div>
                        </div>
                        <div class="col-md-3 col-6 order-2 order-md-3 top_social-block">

                            <a class="icon__link" href="https://wa.me/+40792884381" target="_blank">
                                <div class="social__icon" style="font-size: 23px;"><i class="fa-brands fa-whatsapp"></i></div> 
                            </a>

                            <a class="icon__link" href="#" target="_blank">
                                <div class="social__icon" ><i class="fa-brands fa-facebook"></i></div> 
                            </a>

                            <a class="icon__link" href="#" target="_blank">
                                <div class="social__icon" ><i class="fa-brands fa-instagram"></i></div> 
                            </a>

                        </div>
                    </div>
                </div>
                
            {% endblock top_header %}                    
            {% block slider_header %}
            <div class="container-fluid p-0">
                <div class="row header__banner-top m-0">
                    <div class="carousel__top p-0">
                        <div id="carouselExampleAutoplaying" class="carousel slide slider__top" data-bs-ride="carousel">
                            <!-- <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div> -->
                            <div class="carousel-inner">
                                <div class="carousel-item slider__img active">
                                <img src="{{url_for('static', filename='img/slider1.jpg')}}" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item slider__img">
                                <img src="{{url_for('static', filename='img/slider1.jpg')}}" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item slider__img">
                                <img src="{{url_for('static', filename='img/slider1.jpg')}}" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            
                            </div>
                    </div>
                </div>
            </div>
            {% endblock slider_header %}
                
        {% endblock header %}   
    </header>


        {% block nav_header %}
        <nav class="navbar navbar-expand-md bg-body-tertiary nav__body p-md-0 sticky-top" id="nav__body">
            <div class="container-fluid">
                <label class="navbar-brand nav__label-hidden" for="navigation__togler">Menu</label>
            <button id="navigation__togler" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto  mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#our__services">Our services</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#location">Location</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#contacts">Contacts</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#about">About us</a>
                    </li>
                    
                    
                </ul>
                <div class="dropdown select__lang">
                    <button class="btn btn-secondary dropdown-toggle select__lang-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="lang__option">
                        <div class="lang__name">EN</div>
                        <div class="lang__icon">
                            <img src="{{url_for('static', filename='img/lang/en.png')}}" alt="">
                        </div>
                        </div>
                    </button>
                    <ul class="dropdown-menu lang_dropdown ">
                        <li><a class="dropdown-item lang__option" href="#">
                        <div class="lang__icon">
                            <img src="{{url_for('static', filename='img/lang/ro.png')}}" alt="">
                        </div>
                        <div class="lang__name">RO</div>                                
                        </a></li>
                        <li><a class="dropdown-item lang__option" href="#">
                        <div class="lang__icon">
                            <img src="{{url_for('static', filename='img/lang/en.png')}}" alt="">
                        </div>
                        <div class="lang__name">EN</div>
                        
                        </a></li>
                        <li><a class="dropdown-item lang__option" href="#">
                        <div class="lang__icon">
                            <img src="{{url_for('static', filename='img/lang/ua.png')}}" alt="">
                        </div>
                        <div class="lang__name">УКР</div>
                        
                        </a></li>
                    </ul>
                    </div>

                </div>
            </div>
            </nav>
        {% endblock nav_header %}
        
    
    <main>
        {% block main %}
        <section class="advantages">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h2 class="title__advantages section__title fs-1">Our Advantages</h2>
                    </div>
                </div>

                <div class="row row__advantages">
                    <div class="col-sm-6 col-lg-3 advantages__item">
                        <div class="advantages__img">
                            <img src="{{url_for('static', filename='img/advantages/cleared_car.svg')}}" alt="">                            
                        </div>
                        <div class="advantages__title">
                            absolute cleanliness of your car
                        </div>
                    </div>  
                    <div class="col-sm-6 col-lg-3 advantages__item">
                        <div class="advantages__img">
                            <img src="{{url_for('static', filename='img/advantages/calendar.svg')}}" alt="">                            
                        </div>
                        <div class="advantages__title">
                            We value your time, so you can use electronic queue
                        </div>
                    </div> 
                    <div class="col-sm-6 col-lg-3 advantages__item">
                        <div class="advantages__img">
                            <img src="{{url_for('static', filename='img/advantages/team_pro.svg')}}" alt="">                            
                        </div>
                        <div class="advantages__title">
                            The professional team ready to serve you
                        </div>
                    </div> 
                    <div class="col-sm-6 col-lg-3 advantages__item">
                        <div class="advantages__img">
                            <img src="{{url_for('static', filename='img/advantages/cleaners.svg')}}" alt="">                            
                        </div>
                        <div class="advantages__title">
                            The best care for your car
                        </div>
                    </div>                   
                </div>
            </div>
        </section>

        <section class="services" id="our__services">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h2 class="title__services section__title fs-1">Select Service</h2>
                    </div>
                </div>

                    <div id="carouselExampleIndicators" data-bs-animation="none" class="carousel carousel-fade carousel__services">
                        
                        <div class="carousel__control-labels">
                            <label class="service__label" for="slide-0">Body wash</label>
                            <label class="service__label" for="slide-1">Complex wash</label>
                            <label class="service__label" for="slide-2">Premium wash</label>
                            <label class="service__label" for="slide-3">Interior cleaning</label>
                            <label class="service__label" for="slide-4">Body polishing</label>
                        </div>
                        <div class="carousel-indicators services__nav">
                          <button id="slide-0" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="services__button"  aria-label="Service 1"></button>
                          <button id="slide-1" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="active services__button" aria-label="Service 2"></button>
                          <button id="slide-2" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class=" services__button" aria-label="Service 3"></button>
                          <button id="slide-3" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class=" services__button" aria-label="Service 4"></button>
                          <button id="slide-4" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" class=" services__button" aria-label="Service 5"></button>
                        </div>
                        <div class="carousel-inner">

                            <div class="carousel-item">
                                <div class="product__card">
                                    <h1 class="product__title">Body wash</h1>
                                    <div class="product__descriprion">
                                        <ul class="product__options">
                                            <li> Thorough body wash</li>
                                            <li> Car interior cleaning</li>
                                            <li> Interior refresh</li>
                                        </ul>
                                        <p class="product__more">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, optio enim. Voluptate sunt, natus voluptatum consequuntur, impedit nesciunt ipsum ipsam doloribus iure ut neque explicabo. Et atque magnam voluptates delectus!
                                            Natus in incidunt dolores </p>
                                    </div>
                                    <div class="product__img">
                                        <img src="{{url_for('static', filename='img/catalog/service1.jpg')}}" alt="">
                                    </div>
                                    <form action="{{url_for('register')}}" class="order__product" method="post">
                                        <div class="product__price">100 RON</div>
                                        <input type="hidden" name="service" value="service-1">
                                        <button type="submit" class="product__button">register</button>
                                    </form>
                                </div>
                            </div>

                            <div class="carousel-item active">
                                <div class="product__card">
                                    <h1 class="product__title">Complex wash</h1>
                                    <div class="product__descriprion">
                                        <ul class="product__options">
                                            <li> Thorough body wash</li>
                                            <li> Car interior cleaning</li>
                                            <li> Interior refresh</li>
                                        </ul>
                                        <p class="product__more">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, optio enim. Voluptate sunt, natus voluptatum consequuntur, impedit nesciunt ipsum ipsam doloribus iure ut neque explicabo. Et atque magnam voluptates delectus!
                                            Natus in incidunt dolores </p>
                                    </div>
                                    <div class="product__img">
                                        <img src="{{url_for('static', filename='img/catalog/service1.jpg')}}" alt="">
                                    </div>
                                    <div class="order__product">
                                        <div class="product__price">100 RON</div>
                                        <button type="button" class=" product__button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            register
                                        </button>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="carousel-item">
                                <div class="product__card">
                                    <h1 class="product__title">Premium wash</h1>
                                    <div class="product__descriprion">
                                        <ul class="product__options">
                                            <li> Thorough body wash</li>
                                            <li> Car interior cleaning</li>
                                            <li> Interior refresh</li>
                                        </ul>
                                        <p class="product__more">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, optio enim. Voluptate sunt, natus voluptatum consequuntur, impedit nesciunt ipsum ipsam doloribus iure ut neque explicabo. Et atque magnam voluptates delectus!
                                            Natus in incidunt dolores </p>
                                    </div>
                                    <div class="product__img">
                                        <img src="{{url_for('static', filename='img/catalog/service1.jpg')}}" alt="">
                                    </div>
                                    <form action="{{url_for('register')}}" class="order__product" method="post">
                                        <div class="product__price">100 RON</div>
                                        <input type="hidden" name="service" value="service-3">
                                        <button type="submit" class="product__button">register</button>
                                    </form>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="product__card">
                                    <h1 class="product__title">Interior cleaning</h1>
                                    <div class="product__descriprion">
                                        <ul class="product__options">
                                            <li> Thorough body wash</li>
                                            <li> Car interior cleaning</li>
                                            <li> Interior refresh</li>
                                        </ul>
                                        <p class="product__more">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, optio enim. Voluptate sunt, natus voluptatum consequuntur, impedit nesciunt ipsum ipsam doloribus iure ut neque explicabo. Et atque magnam voluptates delectus!
                                            Natus in incidunt dolores </p>
                                    </div>
                                    <div class="product__img">
                                        <img src="{{url_for('static', filename='img/catalog/service1.jpg')}}" alt="">
                                    </div>
                                    <form action="{{url_for('register')}}" class="order__product" method="post">
                                        <div class="product__price">100 RON</div>
                                        <input type="hidden" name="service" value="service-4">
                                        <button type="submit" class="product__button">register</button>
                                    </form>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="product__card">
                                    <h1 class="product__title">Body polishing</h1>
                                    <div class="product__descriprion">
                                        <ul class="product__options">
                                            <li> Thorough body wash</li>
                                            <li> Car interior cleaning</li>
                                            <li> Interior refresh</li>
                                        </ul>
                                        <p class="product__more">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, optio enim. Voluptate sunt, natus voluptatum consequuntur, impedit nesciunt ipsum ipsam doloribus iure ut neque explicabo. Et atque magnam voluptates delectus!
                                            Natus in incidunt dolores </p>
                                    </div>
                                    <div class="product__img">
                                        <img src="{{url_for('static', filename='img/catalog/service1.jpg')}}" alt="">
                                    </div>
                                    <!-- Button trigger modal -->
                                    <div class="order__product">
                                        <div class="product__price">100 RON</div>
                                        <button type="button" class=" product__button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            register
                                        </button>
                                    </div>
                                </div>
                            </div>

    
                          
                          

                          
                        </div>
                        <div class="carousel__control-labels mobile__control-labels">
                            <label class="service__label" for="slide-0">Body wash</label>
                            <label class="service__label" for="slide-1">Complex wash</label>
                            <label class="service__label" for="slide-2">Premium wash</label>
                            <label class="service__label" for="slide-3">Interior cleaning</label>
                            <label class="service__label" for="slide-4">Body polishing</label>
                        </div>
                        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button> -->


                        
                
                
              </div>
            </div>
        </section>
        <section class="location" id="location">
            <div class="container-fluid">
                <div class="row">
                    <h2 class="title__location section__title fs-1">Location</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2849.894707997159!2d26.0780726!3d44.414806299999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff9e341b5b21%3A0x4b62bc193fdfc1fd!2sPerfect%20Wash!5e0!3m2!1sru!2sro!4v1693065050560!5m2!1sru!2sro" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 address__div">
                        Strada Zaharia Carcalechi, București 052072
                    </div>
                    <div class="col-11 br__line"></div>
                </div>
            </div>
        </section>
        <section class="contacts" id="contacts">
            <div class="container-fluid">
                <div class="row">
                    <h2 class="title__contacts section__title fs-1">Contacts</h2>
                </div>
                <div class="row contacts__row">
                    <col-12 class="col-sm-6 contact__item contacts__social">
                        <a href="tel:+77777777" target="_blank" class="social__link-contacts">
                            <i class="fa-solid fa-mobile-screen"></i>
                            <div class="social__link-text">+40 79 288 43 81</div>
                        </a>
                        <a href="https://wa.me/+77777777" target="_blank" class="social__link-contacts">
                            <i class="fa-brands fa-whatsapp"></i>
                            <div class="social__link-text">+40 79 288 43 81</div>
                        </a>
                        <a href="https://fb.com" target="_blank" class="social__link-contacts">
                            <i class="fa-brands fa-facebook-f"></i>
                            <div class="social__link-text">Facebook</div>
                        </a>
                        <a href="tel:+77777777" target="_blank" class="social__link-contacts">
                            <i class="fa-brands fa-instagram"></i>
                            <div class="social__link-text">Instagram</div>
                        </a>
                    </col-12>
                    <col-12 class="col-sm-6 contact__item contacts__workhours">
                        <h3 class="workhours__title">Working hours</h3>
                        <div class="working__hours-line">
                            <div class="working-day">Mon</div>
                            <div class="working-time">8:00-20:00</div>
                        </div>
                        <div class="working__hours-line">
                            <div class="working-day">Tue</div>
                            <div class="working-time">8:00-20:00</div>
                        </div>
                        <div class="working__hours-line">
                            <div class="working-day">Wed</div>
                            <div class="working-time">8:00-20:00</div>
                        </div>
                        <div class="working__hours-line">
                            <div class="working-day">Thu</div>
                            <div class="working-time">8:00-20:00</div>
                        </div>
                        <div class="working__hours-line">
                            <div class="working-day">Fri</div>
                            <div class="working-time">8:00-20:00</div>
                        </div>
                        <div class="working__hours-line">
                            <div class="working-day">Sat</div>
                            <div class="working-time">8:00-20:00</div>
                        </div>
                        <div class="working__hours-line">
                            <div class="working-day">Sun</div>
                            <div class="working-time">Closed</div>
                        </div>
                    </col-12>
                </div>
            </div>
        </section>

        <section class="about" id="about">
            <div class="container-lg container-fluid">
                <div class="row">
                    <h2 class="title_about section__title fs-1">About Us</h2>
                </div>
                <div class="row row__about">
                    <div class="col-12 col-sm-5 about__img">
                        <img class="about__avatar" src="{{url_for('static', filename='img/ukraine.jpeg')}}" alt="">
                    </div>
                    <div class="col-12 col-sm-7 about__text">
                        <div class="about__description">We are a professional detailing and car washing team from Ukraine. We have been working in this field for more than 10 years and coped well with our tasks. But suddenly the war came and we ended up in Romania. Having left our homeland and found ourselves in a new world for us, we could not leave the cause to which we have been devoted for a long time. Therefore, it was decided to start all over again here. We have resumed our business and will be happy to provide decent service to the country that has received us so warmly.</div>
                    </div>
                </div>
            </div>
        </section>
    {% endblock main %}
    </main>




<div class="modal__windows">
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Register to service</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                
                <form action="{{url_for('register')}}" class="modal__form" method="post">
                    <h3 class="select__date-modal">Select date</h3>
                    
                    <div id="calendar"></div>
                    
                    <div class="form-floating mb-3">                
                        
                        <input type="tel" class="form-control phone__input" id="floatingInput" placeholder="0XXX XXX XXX">
                        <label for="floatingInput">Enter Your phone</label>
                    </div>

                    <input type="hidden" name="service" value="service-5">
                    <button type="submit" class="product__button">Next step</button>
                </form>
            </div>
            <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>

    
    <footer>
        {% block footer %}
            <div class="container">
                <div class="row row__footer">
                    <div class="col-12 col-md-4 footer__logo"><a href="#" class="footer__nav-link">CARNERD</a></div>
                    <div class="col-12 col-md-8 footer__nav">
                        <nav class="footer__nav">
                            <ul class="footer__ul-nav">
                                <li>
                                    <a href="#our__services" class="footer__nav-link">our services</a>
                                </li>
                                <li>
                                    <a href="#location" class="footer__nav-link">Location</a>
                                </li>
                                <li>
                                    <a href="#contacts" class="footer__nav-link">Contacts</a>
                                </li>
                                <li>
                                    <a href="#about" class="footer__nav-link">About us</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="all_rights">2023 © All rights reserved</div>
                
            </div>

        {% endblock footer %}
    </footer>

    











    <!-- Plugin CSS calendar -->
    <!-- {{url_for('static', filename='calendar/vanilla-calendar.min.js')}} -->
    <link href="{{url_for('static', filename='calendar/vanilla-calendar.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='calendar/themes/light.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='calendar/themes/dark.min.css')}}" rel="stylesheet">
    <!-- Plugin JS calendar -->
    <script src="{{url_for('static', filename='calendar/vanilla-calendar.min.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/calendar.js')}}"></script> 




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>
</html>