{% extends 'base.html' %}


{% block includes %}
    {{super()}}
{% endblock includes %}
{% block header %}
    {% block top_header %}
        {{super()}}
    {% endblock top_header %}
{% endblock header %}
{% block nav_header %}
    
{% endblock nav_header %}




{% block main %}
    {% block booking %}
    <section class="booking" id="booking">
        <div class="container-fluid booking__title-container">
            <div class="row">
                <div class="col-12">
                    <h2 class="title__booking section__title fs-4">{{index_lang.booking_for_service}}: {{service.service_name}}</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="{{url_for('register')}}"  class="booking__form" method="post">
                        {% if phone_failed %}
                        <div class="mb-3 booking__input">
                            <label for="exampleFormControlInput1" class="form-label label__wrong">{{index_lang.phone_is_wrong}}</label>
                            <input type="tel" class="form-control" name="phone" class="" id="exampleFormControlInput1" placeholder="{{index_lang.your_phone}}">
                          </div>                            
                        {% endif %}
                            
                        
                        <select class="form-select booking__input" name="booking_time" aria-label="Default select example">
                            <option selected>{{index_lang.select_time_for_service}}</option>
                            {% for i in time_list %}
                            <option value="{{i}}">{{i}}</option> 
                            {% endfor %}                         
                        </select>

                        <select class="form-select booking__input" name="car_type" aria-label="Default select example">
                            <option selected>{{index_lang.select_service_option}}</option>
                            {% for i in service.service_types %}
                            <option value="{{i[0]}} ~ {{i[1] | int}}">{{i[0]}} ~ {{i[1] | int}} RON</option> 
                            {% endfor %}                         
                        </select>

                        <input type="hidden" name="confirm" value="true">
                        <input type="hidden" name="booking_date" value="{{booking_date}}">
                        {% if not phone_failed %}
                            <input type="hidden" name="phone" value="{{phone}}">
                        {% endif %}
                        
                        {% for i in service.items() %}
                        <input type="hidden" name="{{i[0]}}" value="{{i[1]}}">
                        {% endfor %}
                        <div class="order__product">
                            <button type="submit" class="product__button modal_button">{{index_lang.confirm}}</button> 
                        </div>
                            
                    </form>             


                </div>
                
            </div>
        </div>
    </section>    
    {% endblock booking %}

    {% block location %}
       
    {% endblock location %}
    {% block contacts %}
       
    {% endblock contacts %}
    {% block about %}
        
    {% endblock about %}
{% endblock main %}

{% block footer %}
<footer>        
    <div class="container">
        <div class="row row__footer">
            {% block footer__logo %}
            <div class="col-12 col-md-4 footer__logo"><a href="{{url_for('index')}}" class="footer__nav-link">CARNERD</a></div>
            {% endblock footer__logo %}
            
            {% block footer_nav %}
            
            {% endblock footer_nav %}
        </div>
        <div class="all_rights">2023 © All rights reserved</div>
        
    </div>    
</footer>
    

{% endblock footer %}